<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="planit" thread-count="5" parallel="classes">
	<test name="Assessment">
		<classes>
			<class name="jupitortoystestcases.HomeTest" />
			<class name="jupitortoystestcases.ContactTest" />
			<class name="jupitortoystestcases.ShopTest" />

		</classes>

	</test>
</suite> 